body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: inline-block;
}

.roast {
  border: 2px solid red;
  border-radius: 5%;
  background-color: rgb(250, 197, 197);
  width: 50%;
  padding: 10px;
}

.boast {
  border: 2px solid blue;
  border-radius: 5%;
  background-color: rgb(170, 182, 230);
  width: 50%;
  padding-top: 10px;
}